
	<div class="jumbotron">
	     <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-md-4 column">
                        <img src="images/images1.jpg" alt="imag1">
                    </div>
                    <div class="col-md-4 column">
                        <img src="images/images2.jpg" alt="img2">
                    </div>
                    <div class="col-md-4 column">
                        <img src="images/images3.jpg" alt="img3">
                    </div>              

                </div>  
	        <!-- <h1>BE- HAPPY!</h1>
	        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> 
	      </div> -->
	</div>

