body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.modal-dialog {
    width: 80%;
}

#mapId {
	width: 80%;
    height: 400px;
}


.jumbotron {

	height: 200px;
}
.myform {
    margin: auto;
}
.div-info{
    height: 200px;
    background-color: rgb(209, 209, 196); 
        
}

.div-info:nth-child(1-2){
    margin-right: 40px;
}